<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      setInterval(function() { javascript: location.reload(true) }, 10000);
    });
  </script>
<% end %>

<div id="family_portrait">
  <% if @photo %>
    <%= image_tag(@photo.image.url(:large), :id => 'portrait') %>
  <% end %>
</div>
<div id="container">
  <div id="welcome">
    <h2>TEMPORARY INSTALLATION</h2>
  </div>
</div>