<%= content_for :head do %>
  <script type="text/javascript">
    $(document).ready(function() {
      allPortraits = <%= @portraits.to_json.html_safe %>;
      showPortraits();
    });
  </script>
<% end %>

<div id="family_portraits">
</div>

<div id="container">
  <div id="welcome">
    <h2>TEMPORARY INSTALLATIONS</h2>
  </div>
</div>