/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/*
  green 00CA16
  purple 7408E3
  black 222
  resolu 1440x900
*/

body {
  width: 100%;
  background-color: #00CA16;
  color: #eee;
  font-family: GoodDog;
  font-weight: 500;
}

h2 { 
  font-size: 450%;
  margin-bottom: 100px;
}

h3 { 
  font-size: 200%;
  margin-bottom: 100px;
  display: inline-block;
  width: 100%;
}

a.cmd {
  width: 200px;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  background-color: #222;
  border: 20px solid #222;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 175%;
  behavior: url(/assets/PIE.htc);
}

a.cmd:hover {
  border-color: #7408E3;
  background-color: #7408E3;
  color: #00CA16;
}

a.cmd:active {
  border-color: #7408E3;
  background-color: #7408E3;
  color: #00CA16;
}

a.big {
  font-size: 200%;
  width: 600px;
  padding: 60px 40px;
}

a.survey_answer {
  width: 800px;
  padding: 4px 40px;
}

a.nav {
  text-align: right;
  margin-top: 50px;
}

p.caption { font-size: 80% }
p.unimportant { font-size: 120% }
p.important { font-size: 200% }
span.highlight { color: #7408E3 }

ul {
  display: inline-block;
  width: 100%;
  margin-top: -100px;
  text-align: center;
  display: block;
}

li {
  width: 800px;
  text-align: center;
  list-style-type: none;
  margin-top: 38px;
}

img {
  margin-top: 10px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  behavior: url(/assets/PIE.htc);
}

/* family portrait */

#family_portraits {
  position: absolute;
  margin: 100px;
}

/* photobooth */

#container {
  position: absolute;
  top: 50px;
  left: 320px;
  width: 800px;
  height: 800px;
  text-align: center;
}

#welcome {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 9999;
  visibility: visible;
}

#survey {
  position: absolute;
  visibility: hidden;
}

#photobooth {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

#webcam {
  position: absolute;
  visibility: hidden;
  top: 0px;
  left: 250px;
  width: 600px;
  height: 600px;
}

#loader {
  position: absolute;
  top: 200px;
  left: 20px;
  width: 800px;
  visibility: hidden;
  text-align: center;
  background: transparent;
}

#results {
  visibility: hidden;
}

#result_description {
  margin-top: -100px;
}

#result_image {
  display: inline-block;
  margin-left: 200px;
}

#reset_button {
  display: block;
  width: 125px;
  text-align: center;
  margin-left: 300px;
}

@font-face {
  font-family: 'GoodDog';
  src: url('/assets/gooddog-webfont.eot');
  src: url('/assets/gooddog-webfont.eot?#iefix') format('embedded-opentype'),
       url('/assets/gooddog-webfont.woff') format('woff'),
       url('/assets/gooddog-webfont.ttf') format('truetype'),
       url('/assets/gooddog-webfont.svg#GoodDog') format('svg');
}